@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');
/* ================================ 
        GENERAL STYLES
================================ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: inter;
    font-weight: 300;
}

/* Outer Frame */
main {
    border: 1px solid #000;
    color: #fff;
    background-color: #50aee8;
    padding: 2vh 7.5%;
}

form {
    text-align: center;
    margin: 2vh;
    height: 20px;
    position: relative;
}

input {
    width: 100%;
    padding: 2px 0 2px 1%;
    background-color: rgba(254, 249, 249, 0.6);
    border: none;
    transition: padding 0.5s;
}

input:focus {
    padding: 10px 0;
    font-size: 1.8rem;
    color: #7D8184;
    transition: padding 0.5s;
    position: absolute;
    top: 0;
    left: 0;
}

/* TOP */
.topdisplay {
    display: flex;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 4px 8px 0px;
    padding: 2vh 5%;
}

.topleft {
    width: 80%;
}

#uhrzeit_output {
    font-size: 2.4rem;
    padding-bottom: 2vh;
}

#standort_output {
    font-size: 1.2rem;
    height: 8vh;
    word-wrap: break-word;
    overflow: hidden;
}

#real_feel_output,
#date_output {
    font-size: 1.4rem;
    padding: 2vh 0;
}

.topright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

#icon_current {
    align-self: flex-end;
    justify-self: start;
    height: 100%;
}

#icon_current img {
    width: 128px;
}

#temperatur_current_output {
    font-size: 8rem;
    display: flex;
    align-items: flex-end;
    height: auto;
    align-self: center;
}


/* MIDDLE */
.hourlydisplay {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 32px);
    gap: 5px;
    margin: 4vh 0;
    padding: 1vh 0;
    font-size: 1.2rem;
    color: #978686;
    font-weight: 600;
    background-color: rgba(251, 248, 248, 0.7);
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 4px 8px 0px;
    text-align: center;
}

.hourlydisplay div {
    align-self: center;
}

.hourlydisplay img {
    height: 32px;
    justify-self: center;
}

/* BOTTOM */
.dailydisplay {
    background-image: linear-gradient(180deg, rgba(83, 81, 194, 0.9), rgba(83, 81, 194, 0));
    padding: 2vh 5%;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 4px 8px 0px;
}

.dailydisplay h2 {
    padding-bottom: 3vh;
}

.gridboxchange {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 2vh;
    font-size: 1.4rem;
    font-weight: 400;
    align-items: center;
}

.dailyicon {
    display: flex;
    justify-content: center;
}

.gridboxchange img {
    height: 32px;
}